.jumbotron {
	background-color: #34e587;
	color: black;
	margin-top: 50px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #c6f89e;
	margin-bottom: 0px;
	margin-top: 10px;
}

body {
	overflow-x: hidden;
}

.card-hotel {
	flex: 1 200px;
	margin-top: 10px;
}

.btn-sitio {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}